<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>alfred-codezm-workflows-ssh-auto-login</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>339199DD-38CC-4316-92CB-CD17BD74C767</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F73BBBCF-8213-4661-8C0B-C242F001AD62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43FB7215-3D11-4FFC-9626-D034A7F9B572</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>339199DD-38CC-4316-92CB-CD17BD74C767</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86111794-CBA8-4C11-BD58-013862A38090</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E32D9EE-C028-4B2E-B144-7D969AE149C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3C84A544-6035-4E95-A2E7-0C9552BF9966</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F2443C8-10EB-4363-8F5B-C00C66EE7601</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5EACE37-ECAD-4BE7-8BB0-00691FE790EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>43FB7215-3D11-4FFC-9626-D034A7F9B572</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Delete</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>86111794-CBA8-4C11-BD58-013862A38090</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E32D9EE-C028-4B2E-B144-7D969AE149C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F73BBBCF-8213-4661-8C0B-C242F001AD62</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B5EACE37-ECAD-4BE7-8BB0-00691FE790EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A112941A-F34A-4F24-9316-E78DBA5BDFEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F73BBBCF-8213-4661-8C0B-C242F001AD62</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>codezm</string>
	<key>description</key>
	<string>Auto login tools by ssh, it will be open in iterm with the new tab.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ssh</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>A112941A-F34A-4F24-9316-E78DBA5BDFEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>32</integer>
				<key>script</key>
				<string>/usr/bin/php manage.php "{query}" "insert"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B5EACE37-ECAD-4BE7-8BB0-00691FE790EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>ssh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/bin/php manage.php "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Auto login tools by ssh, it will be open in iterm with the new tab.</string>
				<key>title</key>
				<string>ssh</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8F2443C8-10EB-4363-8F5B-C00C66EE7601</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>32</integer>
				<key>script</key>
				<string>/usr/bin/php manage.php "{query}" "delete"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>43FB7215-3D11-4FFC-9626-D034A7F9B572</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>{var:message} Notice!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F73BBBCF-8213-4661-8C0B-C242F001AD62</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>message</key>
					<string>Delete Successful</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>339199DD-38CC-4316-92CB-CD17BD74C767</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>message</key>
					<string>Copy Successful</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9E32D9EE-C028-4B2E-B144-7D969AE149C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3C84A544-6035-4E95-A2E7-0C9552BF9966</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>32</integer>
				<key>script</key>
				<string>/usr/bin/php manage.php "{query}" "copy"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>86111794-CBA8-4C11-BD58-013862A38090</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>1</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>ssh </string>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>codezm</string>
				<key>hotkey</key>
				<integer>-1</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>double tap</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4495C04A-B9EB-4C78-9846-1D015A9A84D3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>通`SSH`自动登录 Workflow v3.0.0

默认快捷键 ssh, 查看已添加服务器列表。

新增服务器记录格式: 
    service-name ip-address username password [root-password] | do

功能

1. 按`回车`打开终端并进入自动登录服务器
2. 按`Shift+回车`删除服务器记录
3. 按`Command+回车`复制服务器记录</string>
	<key>uidata</key>
	<dict>
		<key>339199DD-38CC-4316-92CB-CD17BD74C767</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>3C84A544-6035-4E95-A2E7-0C9552BF9966</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>43FB7215-3D11-4FFC-9626-D034A7F9B572</key>
		<dict>
			<key>note</key>
			<string>Delete connection info!</string>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>4495C04A-B9EB-4C78-9846-1D015A9A84D3</key>
		<dict>
			<key>note</key>
			<string>双击设置快捷方式</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>86111794-CBA8-4C11-BD58-013862A38090</key>
		<dict>
			<key>note</key>
			<string>Copy connection info!</string>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>8F2443C8-10EB-4363-8F5B-C00C66EE7601</key>
		<dict>
			<key>note</key>
			<string>The Auto login script entrance!</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>9E32D9EE-C028-4B2E-B144-7D969AE149C6</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>A112941A-F34A-4F24-9316-E78DBA5BDFEF</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>B5EACE37-ECAD-4BE7-8BB0-00691FE790EE</key>
		<dict>
			<key>note</key>
			<string>Auto login or insert connection info!</string>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>F73BBBCF-8213-4661-8C0B-C242F001AD62</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>separator</key>
		<string> </string>
	</dict>
	<key>version</key>
	<string>v3.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/codezm/Alfred-codezm-workflows-ssh-auto-login</string>
</dict>
</plist>
