<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>codezm.workflows.ssh</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>04D09EC2-0B3C-4F24-9DA9-E7DA38788DC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31CAACEE-FAF4-4476-A6B4-3369781A84B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0EA74EBE-AD4A-4317-A44E-E094EE7DD3AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90C337A0-CB97-464C-B1B7-E267751512D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C1496F78-7F5F-4791-96A2-3E19CF9046E4</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>复制服务器地址</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>635B26D3-2C4C-4484-9872-F58657C7D226</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>复制数据库密码</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>85995E55-BD7F-4658-8476-417E1DCC108C</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>复制数据库用户名</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>04D09EC2-0B3C-4F24-9DA9-E7DA38788DC1</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>复制Host备注信息</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>635B26D3-2C4C-4484-9872-F58657C7D226</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31CAACEE-FAF4-4476-A6B4-3369781A84B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7002728D-3FFF-4432-80EA-5A724554C02B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E07FD3B-CAC9-46C9-961F-EB9905FDC4CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>828C6AE0-C362-4B38-BD5F-C987B29A8884</key>
		<array/>
		<key>85995E55-BD7F-4658-8476-417E1DCC108C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31CAACEE-FAF4-4476-A6B4-3369781A84B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90C337A0-CB97-464C-B1B7-E267751512D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>828C6AE0-C362-4B38-BD5F-C987B29A8884</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1496F78-7F5F-4791-96A2-3E19CF9046E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7002728D-3FFF-4432-80EA-5A724554C02B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>codezm</string>
	<key>description</key>
	<string>解析 ~/.ssh/config 配置文件</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SSH v2.0.0</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>828C6AE0-C362-4B38-BD5F-C987B29A8884</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"
echo $query | cut -d "," -f6 | pbcopy
echo $query | sed 's/#%/ /g' | cut -d "," -f5</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>90C337A0-CB97-464C-B1B7-E267751512D8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ssh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>解析中...</string>
				<key>script</key>
				<string>/usr/bin/php ssh.php $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>解析 ~/.ssh/config 配置文件</string>
				<key>title</key>
				<string>SSH工具</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0EA74EBE-AD4A-4317-A44E-E094EE7DD3AA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/php ssh_db.php $1 0</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C1496F78-7F5F-4791-96A2-3E19CF9046E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Navicat Premium.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>7E07FD3B-CAC9-46C9-961F-EB9905FDC4CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7002728D-3FFF-4432-80EA-5A724554C02B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/php ssh_db.php $1 1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>635B26D3-2C4C-4484-9872-F58657C7D226</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>31CAACEE-FAF4-4476-A6B4-3369781A84B0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/php ssh_db.php $1 2</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>85995E55-BD7F-4658-8476-417E1DCC108C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/php ssh_db.php $1 3</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>04D09EC2-0B3C-4F24-9DA9-E7DA38788DC1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>本插件仅对 ~/.ssh/config 文件进行解析处理。

请确保格式按照以下配置方式进行编写:
```
# This is virtual machine configuration.
Host docker-vm
    HostName 192.168.99.100 
  IdentityFile ~/.ssh/docker/id_rsa
  Port 10022
    User docker
    #Password 1234
    #DB dbusername:dbpassword
```

若设置 #Password 选项，则键入 `Enter` 后其值将放入黏贴板并打开默认`Terminal`进行连接。</string>
	<key>uidata</key>
	<dict>
		<key>04D09EC2-0B3C-4F24-9DA9-E7DA38788DC1</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>0EA74EBE-AD4A-4317-A44E-E094EE7DD3AA</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>31CAACEE-FAF4-4476-A6B4-3369781A84B0</key>
		<dict>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>635B26D3-2C4C-4484-9872-F58657C7D226</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>7002728D-3FFF-4432-80EA-5A724554C02B</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>7E07FD3B-CAC9-46C9-961F-EB9905FDC4CE</key>
		<dict>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>828C6AE0-C362-4B38-BD5F-C987B29A8884</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>85995E55-BD7F-4658-8476-417E1DCC108C</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>90C337A0-CB97-464C-B1B7-E267751512D8</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>C1496F78-7F5F-4791-96A2-3E19CF9046E4</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>ssh_db</key>
		<string>#DB</string>
		<key>ssh_password</key>
		<string>#Password</string>
	</dict>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/codezm/codezm.workflows.ssh</string>
</dict>
</plist>
